*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, h1, h2 {
    color: white;
    text-align: center;
}
li {
    list-style: none;
}
body{
    background: darkmagenta;
    height: 100vh;
    width: 100%;
}
/*top bar of just View Highscores and Timer*/
.top-bar{
    padding: 20px;
}
.top-bar button{
    color: lightblue;
    background-color: transparent;
    border: none;
}
.top-bar p{
    float: right;
}
/*Main screen (container)*/
.main-container{
    padding: 10px;
    height: 100%;
    display: flex;
    margin: auto;
    width: 50%;
    flex-direction: row;
    justify-content: center;
}
.start-btn{
    display: block;
    height: 25px;
    width: 75%;
    margin: auto;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}
.start-btn:hover{
    background-color: red;
}
/* Start of quiz card */
.quiz-card{
    margin: auto;
    height: 100%;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-color: white;
    border-radius: 5px;
    background-color: darkblue;
}
.quiz-intro {
    margin-bottom: 10%;
    justify-content: center;
}
.quiz-info{
    font-weight: 200;
}
.quiz-title{
    height: 60px;
    width: 100%;
    font-size: 20px;
}
/*Question cards*/
.qcard #question-card{
    margin: auto;
    height: 100%;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-color: white;
    border-radius: 5px;
    background-color: darkblue;
}
.button{
    width: 100%;
    border-radius: 5px;
}
.button:hover{
    border-color: white;
}
/* Finish screen */


/*Highscores*/


/*all elements with the hidden class are hidden until triggered*/
.hidden{
    display: none;
}